<%= link_to "Back", root_path %>

<h2> <%=  @book.title %></h2>
<h4> <%=  @book.author %></h4>
<h4> <%=  @book.category.name %></h4>

<p> <%=  @book.description %></p>

 <% if @book.user_id == current_user.id %>
<%=  link_to 'Edit Book',edit_book_path(@book),class:'btn btn-primary' %>
<%=  link_to 'Delete',book_path(@book),method: :delete,data: {confirm:'Are you sure?'},class:'btn btn-default' %>
<% end %>

